<header>
    <div class="visible-background"></div>
    <div class="header-navbar">
        <h1>Mr Bikes</h1>
        <nav>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </nav>
        <nav *ngIf="loggedIn" class="nav-login">
            <a (click)="onLogout()">Logout</a>
        </nav>
        <nav *ngIf="!loggedIn" class="nav-login">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </nav>
    </div>
</header>