<section class="hero">
    <section class="paragraph">
        <h3 class="before-title">p e r f o r m a n c e</h3>
        <h2 class="title">
            hitting the apex head on
        </h2>

        <div class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, nemo, ratione velit voluptate ipsam impedit
            quasi praesentium error quis in sunt quas nisi incidunt. Similique fugit ex eum expedita at.
        </div>

        <div class="actions">
            <a class="view-more"><span class="btn-txt">view more</span><span class="symbol">&#9205;</span></a>
            <a class="contact"><span class="btn-txt">contact us</span><span class="symbol">&#9205;</span></a>
            <!-- <a class="contact">contact us <span>&#9205;</span></a> -->
        </div>
    </section>

</section>