.bike-edit {
    width: fit-content;
    height: fit-content;
    position: fixed;
    inset: 0;
    top: -10%;
    margin: auto;
    background-color: rgb(250, 252, 250);
    box-shadow: -3px 1px 50px #00000061;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    form {
        display: flex;
        flex-direction: column;
        label {
            margin-top: 1em;
        }

        button {
            width: 50%;
            display: block;
            margin: 20px auto;
        }
    }
}
