<section class="bike-edit">
    <h2>{{'Add'}} bike</h2>
    <form (ngSubmit)="onSaveBike()">
        <label for="make">Make</label>
        <input [(ngModel)]="bike.make" type="text" name="make" id="make">
        
        <label for="model">Model</label>
        <input [(ngModel)]="bike.model" type="text" name="model" id="model">

        <!-- <label for="age">Model</label>
        <input [(ngModel)]="bike.year" type="number" name="age" id="age"> -->

        <!-- <label for="birthDate">Year of production</label>
        <input [(ngModel)]="bike.year" type="date" name="birthDate" id="birthDate"> -->
     
        <button>Save</button>
    </form>

    <a routerLink="/">Back</a>
</section>