<!-- <hero></hero> -->
<about-hero></about-hero>
<div class="about">
    <img src="../../../assets/images/about-me.jpeg" alt="Avatar" style="width:100%">
    <div class="text-container">
        <h3 class="card-title">Roni Yerushalmi</h3>
        <p>Oi! I'm a student at coding academy's Fullstack Bootcamp course, March 2023<br />
            I'm a motorcycles & technology enthusiast, anything that concludes one of these two topics will
            probably be on my favorites list pending for read until I get my life back, which means by the end
            of the course.</p>
    </div>
    <div class="about-footer">
        <a href="https://www.linkedin.com/in/%E2%80%AAroni-yerushalmi-2184b0227/">Linkedin</a> | <a href="https://github.com/Roni750">
                    Github</a>
                </div>
</div>
<!-- <p>about works!</p> -->