.index-title {
    background: #c9c9c9;
    font-size: 60px;
    font-family: Rajdhani;
    margin: 0 auto;
    text-align: center;
}

.bike-index {
    background-color: rgb(250, 250, 250);
}

.index-actions {
    font-family: Ubuntu;
    display: flex;
    justify-content: center;
    background: #ED1D24;
    padding-block: 1em;
    gap: 1em;
}