/* You can add global styles to this file, and also import other style files */

a {
    all: unset;
    cursor: pointer;
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }
}

// Typography
@font-face {
    font-family: Ubuntu;
    src: url('assets/typography/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: Rajdhani;
    src: url('assets/typography/Rajdhani-Bold.ttf');
}

// Resets
html {
    color: black;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    all: unset;
    cursor: pointer;
}

::selection {
    background-color: rgb(255, 39, 39);
    color: whitesmoke;
}

* {
    box-sizing: border-box;
}